
[submodule "src/utils/nn_utils"]
	path = src/utils/nn_utils
	url = https://github.com/kalmary/nn_utils.git
[submodule "src/utils/--force"]
	path = src/utils/--force
	url = https://github.com/kalmary/nn_utils.git
[submodule "src/utils/--name"]
	path = src/utils/--name
	url = https://github.com/kalmary/nn_utils.git
